<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Home Page</h3>
  <button ion-button color="primary" (click)="modal()">
    Modal Page Load
  </button>
  <h4>입력된 결과 값</h4>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="profile.actionSwitch">
        {{profile.actionSwitch}}
      </ion-col>
      <ion-col col-6 *ngIf="profile.name">
        {{profile.name}}
      </ion-col>
      <ion-col *ngIf="profile.gender">
        {{profile.gender}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="profile.domestic">
        {{profile.domestic}}
      </ion-col>
      <ion-col col-8 *ngIf="profile.startDate">
        {{profile.startDate}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button color="secondary" (click)="showPrompt()">
    Prompt Alert
  </button>
</ion-content>
